name: Run VRP Solvers

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        run: |
          echo "Hello World!"
          echo
          echo "Installing requirements..."
          python -m pip install -U pip
          python -m pip install -r requirements.txt
          python -V

          echo
          echo "Setting up dwave..."
          echo

          echo "[defaults]
          token = ${{ secrets.LEAP_API_TOKEN }}" > dwave.conf

          echo
          echo "You're all set!"
      - name: Run VRP Solvers
        run: python solve_vrp.py
